body {
  background-color:#ffffff ;
}

.header {
   height:80px;
   background-image:url(./images/book.jpg);
   opacity:0.7;
}

.heading {
  color: rgb(236, 231, 150);
}

.content {
  background-color: rgb(236, 231, 150);
  background-image:url(./images/sky.jpg);
  background-size: cover;
}

.main-content {
  background-color: #ffffff;
  min-height:600px;
}

.footer {
  height: 40px;
}

body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

.navbar {
  background-color:#B9B2B0 ;
  
}
